@import '../../../styles/templates.scss';

.main {
    display: flex;
    flex-wrap: wrap;

    height: 95vh;

    justify-content: space-around;
    align-items: center;
}

.main__chose-section {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;

    width: 50%;
    height: 76%;

    min-width: 450px;
    min-height: 600px;

    background: $tile-color;

    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.main__chose-section-graph {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;

    height: 50%;
    width: 95%;

    min-height: 300px;
}

.main__chose-section-graph-image {
    display: block;
    margin: 10px 0 0 0;
    max-height: 100%;
    max-width: 100%;

    @extend %template-animation-slide-up;
}

.main__chose-section-carousel {
    display: flex;

    // flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    width: 95%;
    height: 25%;

    max-height: 125px;

    overflow-x: auto;
    overflow-y: hidden;

    border-bottom: solid grey 1px;
}

// Применить стиль к первому дочернему элементу карусели
.main__chose-section-carousel > .main__chose-section-carousel-item:nth-child(1) {
    // background-color: red;
    // border: solid red 2px;
}

.main__chose-section-carousel::-webkit-scrollbar { 
    width: 0; 
}

.main__chose-section-carousel-item {
    width: 100px;
    height: 100%;

    max-height: 100px;

    display: flex;

    font-size: 30px;

    align-items: center;
    justify-content: center;
    color: $text-color;

    margin: 5px;

    min-height: 100px;
    min-width: 150px; 

    @extend %template-animation-slide-up;

    background: $carousel-item-color;
}

.main__chose-section-buttons-section {
    display: flex;
    flex-wrap: wrap;
    
    width: 95%;
    /* height: 25%; */

    max-width: 500px;
    max-height: 125px;


    justify-content: space-between;

}

.main__chose-section-buttons-section-button {
    @extend %template-btn
}


.confirm-btn {
    width: 32%;
    background-color: $confirm-color;
}

.undo-btn {
    width: 32%;
    background-color: $undo-color; 
}

.reject-btn {
    width: 32%;
    background-color: $reject-color;
}

.apply-btn {
    width: 100%;
    background-color: $apply-color;
}
