@import '../../../styles/templates.scss';

.main__confirm-bar {
    @extend %template-bar;
}

.main__confirm-bar-answers {
    @extend %template-bar-answers;
}

.main__confirm-bar-answers .main__chose-section-carousel-item {
    background-color: $confirm-color;
    @extend %template-animation-slide-left;
}

.main__confirm-bar-answers .main__chose-section-carousel-item p {
    width: 90%;
    text-align: center;
    word-wrap: break-word;
}

.main__confirm-bar-title {
    @extend %template-bar-title;
    color: $confirm-color;
}