.main__confirm-bar, .main__reject-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20%;
  height: 95%;
  min-width: 170px;
  max-width: 250px;
  background: #636363;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.main__confirm-bar-answers, .main__reject-bar-answers {
  display: inline-block;
  width: 95%;
  height: 89%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
  border-top: solid 1px #575757;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; }

.main__confirm-bar-answers div, .main__reject-bar-answers div {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto; }

.main__confirm-bar-answers, .main__reject-bar-answers {
  -ms-overflow-style: none; }

.main__confirm-bar-answers::-webkit-scrollbar, .main__reject-bar-answers::-webkit-scrollbar {
  display: none; }

.main__confirm-bar-title, .main__reject-bar-title {
  height: 10%; }

.main__chose-section-buttons-section-button, .settings-apply-btn, .upload-section-send-btn, .upload-section-input input, .upload-apply-btn {
  height: 50px;
  margin: 5px 0 0 0;
  border: none;
  outline: none;
  opacity: 0.8;
  transition: 0.2s linear;
  font-size: 20px;
  color: #ffffff; }

.main__chose-section-buttons-section-button:hover, .settings-apply-btn:hover, .upload-section-send-btn:hover, .upload-section-input input:hover, .upload-apply-btn:hover {
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s linear; }

.main__chose-section-graph-image, .main__chose-section-carousel-item, .settings, .upload {
  animation: slide-up 0.4s ease; }

.main__confirm-bar-answers .main__chose-section-carousel-item {
  animation: slide-left 0.4s ease; }

.main__reject-bar-answers .main__chose-section-carousel-item {
  animation: slide-right 0.4s ease; }

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.main__confirm-bar, .main__reject-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20%;
  height: 95%;
  min-width: 170px;
  max-width: 250px;
  background: #636363;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.main__confirm-bar-answers, .main__reject-bar-answers {
  display: inline-block;
  width: 95%;
  height: 89%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
  border-top: solid 1px #575757;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; }

.main__confirm-bar-answers div, .main__reject-bar-answers div {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto; }

.main__confirm-bar-answers, .main__reject-bar-answers {
  -ms-overflow-style: none; }

.main__confirm-bar-answers::-webkit-scrollbar, .main__reject-bar-answers::-webkit-scrollbar {
  display: none; }

.main__confirm-bar-title, .main__reject-bar-title {
  height: 10%; }

.main__chose-section-buttons-section-button, .settings-apply-btn, .upload-section-send-btn, .upload-section-input input, .upload-apply-btn {
  height: 50px;
  margin: 5px 0 0 0;
  border: none;
  outline: none;
  opacity: 0.8;
  transition: 0.2s linear;
  font-size: 20px;
  color: #ffffff; }

.main__chose-section-buttons-section-button:hover, .settings-apply-btn:hover, .upload-section-send-btn:hover, .upload-section-input input:hover, .upload-apply-btn:hover {
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s linear; }

.main__chose-section-graph-image, .main__chose-section-carousel-item, .settings, .upload {
  animation: slide-up 0.4s ease; }

.main__confirm-bar-answers .main__chose-section-carousel-item {
  animation: slide-left 0.4s ease; }

.main__reject-bar-answers .main__chose-section-carousel-item {
  animation: slide-right 0.4s ease; }

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.main {
  display: flex;
  flex-wrap: wrap;
  height: 95vh;
  justify-content: space-around;
  align-items: center; }

.main__chose-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
  height: 76%;
  min-width: 450px;
  min-height: 600px;
  background: #636363;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.main__chose-section-graph {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 50%;
  width: 95%;
  min-height: 300px; }

.main__chose-section-graph-image {
  display: block;
  margin: 10px 0 0 0;
  max-height: 100%;
  max-width: 100%;
  pointer-events: none; }

.main__chose-section-carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  height: 25%;
  max-height: 125px;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: solid grey 1px; }

.main__chose-section-carousel::-webkit-scrollbar {
  width: 0; }

.main__chose-section-carousel-item {
  width: 100px;
  height: 100%;
  max-height: 100px;
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin: 5px;
  min-height: 100px;
  min-width: 150px;
  background: #707070; }

.main__chose-section-carousel-item p {
  width: 90%;
  text-align: center;
  word-wrap: break-word; }

.main__chose-section-buttons-section {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  /* height: 25%; */
  max-width: 500px;
  max-height: 125px;
  justify-content: space-between; }

.confirm-btn {
  width: 32%;
  background-color: #a9f1a9; }

.undo-btn {
  width: 32%;
  background-color: #f8e783; }

.reject-btn {
  width: 32%;
  background-color: #f88383; }

.apply-btn {
  width: 100%;
  background-color: #83e1f8; }

.main__confirm-bar, .main__reject-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20%;
  height: 95%;
  min-width: 170px;
  max-width: 250px;
  background: #636363;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.main__confirm-bar-answers, .main__reject-bar-answers {
  display: inline-block;
  width: 95%;
  height: 89%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
  border-top: solid 1px #575757;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; }

.main__confirm-bar-answers div, .main__reject-bar-answers div {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto; }

.main__confirm-bar-answers, .main__reject-bar-answers {
  -ms-overflow-style: none; }

.main__confirm-bar-answers::-webkit-scrollbar, .main__reject-bar-answers::-webkit-scrollbar {
  display: none; }

.main__confirm-bar-title, .main__reject-bar-title {
  height: 10%; }

.main__chose-section-buttons-section-button, .settings-apply-btn, .upload-section-send-btn, .upload-section-input input, .upload-apply-btn {
  height: 50px;
  margin: 5px 0 0 0;
  border: none;
  outline: none;
  opacity: 0.8;
  transition: 0.2s linear;
  font-size: 20px;
  color: #ffffff; }

.main__chose-section-buttons-section-button:hover, .settings-apply-btn:hover, .upload-section-send-btn:hover, .upload-section-input input:hover, .upload-apply-btn:hover {
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s linear; }

.main__chose-section-graph-image, .main__chose-section-carousel-item, .settings, .upload {
  animation: slide-up 0.4s ease; }

.main__confirm-bar-answers .main__chose-section-carousel-item {
  animation: slide-left 0.4s ease; }

.main__reject-bar-answers .main__chose-section-carousel-item {
  animation: slide-right 0.4s ease; }

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.main__confirm-bar-answers .main__chose-section-carousel-item {
  background-color: #a9f1a9; }

.main__confirm-bar-title {
  color: #a9f1a9; }

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 5vh;
  max-height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #636363; }

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  max-width: 50%;
  height: 100%; }

.header__container-logo {
  height: 80%;
  width: auto; }

.header__container-hrefs-block {
  display: flex;
  color: #ffffff;
  font-size: 20px;
  flex-wrap: wrap;
  align-items: center; }

.header__container-hrefs-block a {
  color: #ffffff;
  margin-left: 25px;
  text-decoration: none; }

.main__confirm-bar, .main__reject-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20%;
  height: 95%;
  min-width: 170px;
  max-width: 250px;
  background: #636363;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.main__confirm-bar-answers, .main__reject-bar-answers {
  display: inline-block;
  width: 95%;
  height: 89%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
  border-top: solid 1px #575757;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; }

.main__confirm-bar-answers div, .main__reject-bar-answers div {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto; }

.main__confirm-bar-answers, .main__reject-bar-answers {
  -ms-overflow-style: none; }

.main__confirm-bar-answers::-webkit-scrollbar, .main__reject-bar-answers::-webkit-scrollbar {
  display: none; }

.main__confirm-bar-title, .main__reject-bar-title {
  height: 10%; }

.main__chose-section-buttons-section-button, .settings-apply-btn, .upload-section-send-btn, .upload-section-input input, .upload-apply-btn {
  height: 50px;
  margin: 5px 0 0 0;
  border: none;
  outline: none;
  opacity: 0.8;
  transition: 0.2s linear;
  font-size: 20px;
  color: #ffffff; }

.main__chose-section-buttons-section-button:hover, .settings-apply-btn:hover, .upload-section-send-btn:hover, .upload-section-input input:hover, .upload-apply-btn:hover {
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s linear; }

.main__chose-section-graph-image, .main__chose-section-carousel-item, .settings, .upload {
  animation: slide-up 0.4s ease; }

.main__confirm-bar-answers .main__chose-section-carousel-item {
  animation: slide-left 0.4s ease; }

.main__reject-bar-answers .main__chose-section-carousel-item {
  animation: slide-right 0.4s ease; }

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.main__reject-bar-answers .main__chose-section-carousel-item {
  background-color: #f88383; }

.main__reject-bar-title {
  color: #f88383; }

.main__confirm-bar, .main__reject-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20%;
  height: 95%;
  min-width: 170px;
  max-width: 250px;
  background: #636363;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.main__confirm-bar-answers, .main__reject-bar-answers {
  display: inline-block;
  width: 95%;
  height: 89%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
  border-top: solid 1px #575757;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; }

.main__confirm-bar-answers div, .main__reject-bar-answers div {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto; }

.main__confirm-bar-answers, .main__reject-bar-answers {
  -ms-overflow-style: none; }

.main__confirm-bar-answers::-webkit-scrollbar, .main__reject-bar-answers::-webkit-scrollbar {
  display: none; }

.main__confirm-bar-title, .main__reject-bar-title {
  height: 10%; }

.main__chose-section-buttons-section-button, .settings-apply-btn, .upload-section-send-btn, .upload-section-input input, .upload-apply-btn {
  height: 50px;
  margin: 5px 0 0 0;
  border: none;
  outline: none;
  opacity: 0.8;
  transition: 0.2s linear;
  font-size: 20px;
  color: #ffffff; }

.main__chose-section-buttons-section-button:hover, .settings-apply-btn:hover, .upload-section-send-btn:hover, .upload-section-input input:hover, .upload-apply-btn:hover {
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s linear; }

.main__chose-section-graph-image, .main__chose-section-carousel-item, .settings, .upload {
  animation: slide-up 0.4s ease; }

.main__confirm-bar-answers .main__chose-section-carousel-item {
  animation: slide-left 0.4s ease; }

.main__reject-bar-answers .main__chose-section-carousel-item {
  animation: slide-right 0.4s ease; }

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.settings {
  position: absolute;
  display: none;
  flex-wrap: wrap;
  background: #636363;
  width: 600px;
  height: 400px;
  margin: 30vh auto auto auto;
  justify-content: space-around;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1; }

.settings-close {
  width: 20%;
  height: 10%;
  justify-content: space-around;
  align-content: center;
  font-size: 40px;
  color: #ffffff;
  margin-top: 10px;
  text-decoration: none; }

.settings-title {
  width: 80%;
  height: 10%;
  justify-content: center;
  font-size: 40px;
  color: #ffffff;
  margin-top: 10px;
  text-decoration: none; }

.settings__inputs-section {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: 60%; }

.settings__inputs-section-input {
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 20px;
  color: #ffffff;
  padding-left: 15px;
  border: none;
  border-radius: 10px;
  background: #707070; }

.settings-apply-btn {
  width: 50%;
  background: #a9f1a9; }

.settings__inputs-section-tip {
  width: 100%;
  margin: 5px 0 0 0;
  color: #ffffff; }

.main__confirm-bar, .main__reject-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20%;
  height: 95%;
  min-width: 170px;
  max-width: 250px;
  background: #636363;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.main__confirm-bar-answers, .main__reject-bar-answers {
  display: inline-block;
  width: 95%;
  height: 89%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
  border-top: solid 1px #575757;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; }

.main__confirm-bar-answers div, .main__reject-bar-answers div {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto; }

.main__confirm-bar-answers, .main__reject-bar-answers {
  -ms-overflow-style: none; }

.main__confirm-bar-answers::-webkit-scrollbar, .main__reject-bar-answers::-webkit-scrollbar {
  display: none; }

.main__confirm-bar-title, .main__reject-bar-title {
  height: 10%; }

.main__chose-section-buttons-section-button, .settings-apply-btn, .upload-section-send-btn, .upload-section-input input, .upload-apply-btn {
  height: 50px;
  margin: 5px 0 0 0;
  border: none;
  outline: none;
  opacity: 0.8;
  transition: 0.2s linear;
  font-size: 20px;
  color: #ffffff; }

.main__chose-section-buttons-section-button:hover, .settings-apply-btn:hover, .upload-section-send-btn:hover, .upload-section-input input:hover, .upload-apply-btn:hover {
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s linear; }

.main__chose-section-graph-image, .main__chose-section-carousel-item, .settings, .upload {
  animation: slide-up 0.4s ease; }

.main__confirm-bar-answers .main__chose-section-carousel-item {
  animation: slide-left 0.4s ease; }

.main__reject-bar-answers .main__chose-section-carousel-item {
  animation: slide-right 0.4s ease; }

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.upload {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  background: #636363;
  width: 600px;
  height: 400px;
  margin: 15% 30% 0 30%;
  justify-content: space-around;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2; }

.upload-close {
  width: 10%;
  height: 10%;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  margin-top: 10px;
  text-decoration: none; }

.upload-title {
  width: 90%;
  height: 10%;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  margin-top: 10px;
  text-decoration: none; }

.upload-section-send-btn {
  background-color: #83e1f8; }

.upload-section {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 40%;
  justify-content: space-around;
  align-items: center; }

.upload-section-input {
  width: 95%;
  justify-content: center; }

.upload-section-send-btn {
  width: 95%; }

.upload-apply-btn {
  width: 50%;
  background: #a9f1a9; }

.upload__inputs-section-tip {
  width: 100%;
  margin: 5px 0 0 0;
  color: #ffffff; }

html, body {
  margin: 0;
  overflow: hidden;
  background: #575757;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  scrollbar-width: none; }

/*# sourceMappingURL=index.css.map */
