.main__confirm-bar, .main__reject-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20%;
  height: 95%;
  min-width: 170px;
  max-width: 250px;
  background: #636363;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.main__confirm-bar-answers, .main__reject-bar-answers {
  display: flex;
  width: 95%;
  height: 90%;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: auto;
  border-top: solid 1px #575757; }

.main__confirm-bar-title, .main__reject-bar-title {
  height: 10%;
  user-select: none; }

.main__confirm-bar-answers::-webkit-scrollbar, .main__reject-bar-answers::-webkit-scrollbar {
  display: none; }

.main__chose-section-buttons-section-button:hover {
  width: 32%;
  height: 50px;
  margin: 5px 0 0 0;
  border: none;
  outline: none;
  opacity: 0.8;
  transition: 0.2s linear;
  font-size: 20px;
  color: #ffffff; }

.main__chose-section-buttons-section-button:hover {
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s linear; }

.main__confirm-bar, .main__reject-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20%;
  height: 95%;
  min-width: 170px;
  max-width: 250px;
  background: #636363;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.main__confirm-bar-answers, .main__reject-bar-answers {
  display: flex;
  width: 95%;
  height: 90%;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: auto;
  border-top: solid 1px #575757; }

.main__confirm-bar-title, .main__reject-bar-title {
  height: 10%;
  user-select: none; }

.main__confirm-bar-answers::-webkit-scrollbar, .main__reject-bar-answers::-webkit-scrollbar {
  display: none; }

.main__chose-section-buttons-section-button:hover {
  width: 32%;
  height: 50px;
  margin: 5px 0 0 0;
  border: none;
  outline: none;
  opacity: 0.8;
  transition: 0.2s linear;
  font-size: 20px;
  color: #ffffff; }

.main__chose-section-buttons-section-button:hover {
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s linear; }

.main {
  display: flex;
  flex-wrap: wrap;
  height: 95vh;
  justify-content: space-around;
  align-items: center; }

.main__chose-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
  height: 70%;
  min-width: 450px;
  min-height: 600px;
  background: #636363;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.main__chose-section-graph {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 50%;
  width: 95%;
  min-height: 300px; }

.main__chose-section-graph-image {
  display: block;
  margin: 10px 0 0 0;
  max-height: 100%;
  max-width: 100%; }

.main__chose-section-carousel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95%;
  height: 25%;
  max-height: 125px;
  overflow-x: auto;
  overflow-y: hidden;
  border: solid grey 1px; }

.main__chose-section-carousel::-webkit-scrollbar {
  width: 0; }

.main__chose-section-carousel-item {
  width: 100px;
  margin: 5px;
  min-height: 100px;
  min-width: 150px;
  background: #707070; }

.main__chose-section-buttons-section {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  /* height: 25%; */
  max-width: 500px;
  max-height: 125px;
  justify-content: space-between; }

.main__chose-section-buttons-section-button {
  width: 32%;
  height: 50px;
  margin: 5px 0 0 0;
  border: none;
  outline: none;
  opacity: 0.8;
  transition: 0.2s linear;
  font-size: 20px;
  color: #ffffff; }

.confirm-btn {
  background-color: #a9f1a9; }

.undo-btn {
  background-color: #f8e783; }

.reject-btn {
  background-color: #f88383; }

.apply-btn {
  width: 100%;
  background-color: #83e1f8; }

.main__confirm-bar, .main__reject-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20%;
  height: 95%;
  min-width: 170px;
  max-width: 250px;
  background: #636363;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.main__confirm-bar-answers, .main__reject-bar-answers {
  display: flex;
  width: 95%;
  height: 90%;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: auto;
  border-top: solid 1px #575757; }

.main__confirm-bar-title, .main__reject-bar-title {
  height: 10%;
  user-select: none; }

.main__confirm-bar-answers::-webkit-scrollbar, .main__reject-bar-answers::-webkit-scrollbar {
  display: none; }

.main__chose-section-buttons-section-button:hover {
  width: 32%;
  height: 50px;
  margin: 5px 0 0 0;
  border: none;
  outline: none;
  opacity: 0.8;
  transition: 0.2s linear;
  font-size: 20px;
  color: #ffffff; }

.main__chose-section-buttons-section-button:hover {
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s linear; }

.main__confirm-bar-title {
  color: #a9f1a9; }

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 5vh;
  max-height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #636363; }

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  max-width: 50%;
  height: 100%; }

.header__container-logo {
  height: 80%;
  width: auto; }

.header__container-hrefs-block {
  display: flex;
  color: #ffffff;
  font-size: 20px;
  flex-wrap: wrap;
  align-items: center; }

.header__container-hrefs-block a {
  color: #ffffff;
  margin-left: 25px;
  text-decoration: none; }

.main__confirm-bar, .main__reject-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20%;
  height: 95%;
  min-width: 170px;
  max-width: 250px;
  background: #636363;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.main__confirm-bar-answers, .main__reject-bar-answers {
  display: flex;
  width: 95%;
  height: 90%;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: auto;
  border-top: solid 1px #575757; }

.main__confirm-bar-title, .main__reject-bar-title {
  height: 10%;
  user-select: none; }

.main__confirm-bar-answers::-webkit-scrollbar, .main__reject-bar-answers::-webkit-scrollbar {
  display: none; }

.main__chose-section-buttons-section-button:hover {
  width: 32%;
  height: 50px;
  margin: 5px 0 0 0;
  border: none;
  outline: none;
  opacity: 0.8;
  transition: 0.2s linear;
  font-size: 20px;
  color: #ffffff; }

.main__chose-section-buttons-section-button:hover {
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s linear; }

.main__reject-bar-title {
  color: #f88383; }

html, body {
  margin: 0;
  overflow: hidden;
  background: #575757;
  font-family: Arial, Helvetica, sans-serif; }

/*# sourceMappingURL=index.css.map */
