@import './templates.scss';

@import '../js/components/choseSectionComponent/choseSection.scss';
@import '../js/components/confirlmBarComponent/confirmBar.scss';
@import '../js/components/headerComponent/header.scss';
@import '../js/components/rejectBarComponent/rejectBar.scss';
@import '../js/components/settingsComponent/settings.scss';
@import '../js/components/uploadComponent/upload.scss';

html, body {
    margin: 0;
    overflow: hidden;
    background: $background-color;

    font-family: $font-family;

    user-select: none;
    scrollbar-width: none;

    min-width: 950px;
}
